#app {
  margin: 16px;
}

#space-around {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

#backbtn {
  margin: 0px;
}

#navbar {
  padding-bottom: 16px;
}

#navbar h1, a{
 margin: 0px;
 text-decoration: none;
 color: black;
}

#title1 {
  display: flex;
  gap: 10px;
}

#title1 h2{
  margin: 0px;
}