<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
  <title>Document</title>
</head>

<body>
  <div id="page-content-wrapper">
    <div class="main-content" id="app" v-cloak>
      <span v-if="previousPage != currentPage">
        <p id="backbtn"><a href="" @click.prevent="currentPage = previousPage">←</a></p>
      </span>
      <div id="navbar">
        <h1><a href="#" @click.prevent="currentPage = 'index'">Pousadaria</a></h1>
      </div>
      
      <!-- Index -->
      <div class="container-fluid" v-if="currentPage === 'index'">
        <div id="title1">
          <h2>Pousadas Ativas</h2>
          <input type="text" v-model="searchInns" placeholder="Pesquise uma Pousada">
        </div>
        <div id="space-around">
          <div v-for="inn in innsResult">
            <h3><a href="#" @click.prevent="previousPage = currentPage;currentPage = 'inn';innId = inn.id" v-on:click="getRooms(inn.id)">{{inn.brand_name}}</a></h3>
            <h4>{{inn.city}} - {{inn.state}}</h4>
          </div>
        </div>
      </div>
      <!-- /Index -->
      
      <!-- Inn -->
      <div class="container-fluid" v-if="currentPage === 'inn'">
        <h3 class="page-title">{{selectedInn.brand_name}}</h3>
        <strong>Endereço: </strong>{{selectedInn.address}} - {{selectedInn.neighborhood}}. {{selectedInn.postal_code}}. {{selectedInn.city}} - {{selectedInn.state}} <br>
        <strong>Telefone: </strong>{{selectedInn.phone_number}} <br>
        <strong>E-mail: </strong>{{selectedInn.email}} <br>
        <strong>Check-in: </strong>{{selectedInn.check_in}} - <strong>Check-out: </strong>{{selectedInn.check_out}} <br>
        <strong>Aceita pet: </strong>{{selectedInn.pet_friendly}} <br>
        <strong>Politicas de Uso: </strong>{{selectedInn.usage_policy}} <br>
        <strong>Métodos de pagamento: </strong>{{selectedInn.payment_methods}} <br>
        <strong>Nota Média: </strong>{{selectedInnRating}}
        <div v-if="rooms.length > 0">
          <h3 id="space-around">Quartos Disponíveis</h3>
          <div v-for="room in rooms" id="space-around">
            <div>
              <h3 class="page-title">{{room.name}}</h3>
              <h3>{{room.description}}</h3>
              <strong>Tamanho: </strong>{{room.dimension}}m² <br>
              <strong>Capacidade: </strong>{{room.capacity}} pessoas <br>
              <strong>Banheiro Privativo: </strong>{{room.bathroom}} <br>
              <strong>Sacada: </strong>{{room.balcony}} <br>
              <strong>Ar-Condicionado: </strong>{{room.ac}} <br>
              <strong>TV: </strong>{{room.tv}} <br>
              <strong>Guarda-Roupa: </strong>{{room.wardrobre}} <br>
              <strong>Cofre: </strong>{{room.safe_box}} <br>
              <strong>Acessível: </strong>{{room.accessible}} <br>
              <strong>Diária: </strong>R${{room.price}} <br>
              <strong><a href="#" @click.prevent="previousPage = currentPage;currentPage = 'room';roomId = room.id;innId = room.inn_id">Orçar Reserva</a></strong>
            </div>
          </div>
        </div>
        <div v-else>
          <h3>Nenhum Quarto Disponível</h3>
        </div>
      </div>
      <!-- /Inn -->
      
      <!-- Room -->
      <div class="container-fluid" v-if="currentPage === 'room'">
        <h3 class="page-title">Orçar Reserva</h3>
        <label for="arriveDate">Data da primeira diária </label>
        <input type="date" v-model="arriveDate" name="arriveDate" id="arriveDate"> <br>
        <label for="leaveDate">Data da última diária </label>
        <input type="date" v-model="leaveDate" name="leaveDate" id="leaveDate"> <br>
        <input type="number" v-model="groupSize" placeholder="Número de Pessoas"> <br>
        <strong><a href="#" @click.prevent="previousPage = currentPage;sendCheck = true" v-on:click="checkRoom(innId, roomId, arriveDate, leaveDate, groupSize)">Enviar</a></strong>
        <div class="container-fluid" v-if="sendCheck === true">
          <br>
          <div v-if="reservation.errors">
            <div v-for="errors in reservation.errors">
              <div v-for="error in errors">
                <strong>Erro: </strong>{{error}}
              </div>
            </div>
          </div>
          <div v-if="reservation.total_price">
            <strong>Reserva Disponível</strong> <br>
            <strong>Preço Total: </strong>{{reservation.total_price}}
          </div>
        </div>
      </div>
      <!-- /Room -->
    </div>
  </div>
  
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="main.js"></script>
</body>

</html>